<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Florida Library Books</h1>
    <ul class="book-list">
      <% books.forEach(book => { %>
      <li>
        <a href="/books/<%= book.title %>"><%= book.title %></a> by
        <a href="/books/<%= book.author %>"><%= book.author %></a>
      </li>
      <% }) %>
    </ul>
    <button onclick="window.location.href='/books/new'">Add New Book</button>
    <button onclick="window.location.href='/books/update'">Update Book</button>
    <button onclick="window.location.href='/books/delete'">Delete Book</button>

    <%- include('partials/footer') %>
  </body>
</html>
